fastapi==0.103.2
uvicorn==0.23.2
python-multipart==0.0.6
pydantic==1.10.13
jinja2==3.1.2
aiofiles==23.1.0
python-dotenv==1.0.0
orjson==3.9.1
SQLAlchemy==2.0.25


numpy==1.26.4
scikit-learn==1.8.0
scipy==1.16.3
joblib==1.5.3
threadpoolctl==3.6.0
